.wapper {
    background-image: url("/public/admin/img/background.jpg");
    animation: table-role-animation 2s;
}

.nav-left-body,
.header__content,
.body-content {
    background-color: #fff;
    position: relative;
}

.header__content {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.text-admin {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rounded-pill {
    top: -8px;
    position: relative;
    left: -5px;
}

.list-group-item {
    border-color: rgba(0, 0, 0, 0.2);
}

.list-group-item svg {
    transform: scale(1.1);
}

.info-admin,
.bell-admin {
    cursor: pointer;
    position: relative;
}

.info-admin:hover .info-admin-dropdown,
.bell-admin:hover .bell-admin-dropdown {
    display: block;
    z-index: 99999;
}

.info-admin-dropdown,
.bell-admin-dropdown {
    position: absolute;
    right: 10px;
    width: 200px;
    top: 90%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    display: none;
    animation: right_to_left .5s;
    background-color: #fff;
}

.info-admin-dropdown .list-group-item:hover,
.bell-admin-dropdown .list-group-item:hover {
    background-color: #9c27b0;
    color: #fff;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}

.bell-admin-dropdown {
    right: 40px;
}

.nav-left {
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
}

.nav-left:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-left.active {
    background-color: #0d6efd;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 30%), 0 7px 10px -5px rgb(156 39 176 / 70%);
    border-radius: 5px;
}

.list-group .nav-left:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-group .nav-left:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-left svg {
    position: relative;
    top: -2px;
    color: rgba(0, 0, 0, 0.6);
}

.nav-left span {
    padding-right: 5px;
}

.nav-left-body {
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    height: 100vh;
}

.nav-left:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.body-content {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    min-height: calc(100vh - 48px);
    padding: 10px;
}

.body-content__title {
    background-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.body-content__title h5 {
    line-height: 40px;
}

.td-center {
    vertical-align: middle;
}

.add-new {
    line-height: 35px;
    padding-right: 15px;
}

.add-new .active {
    color: #fff;
}

.add-new .active:hover {
    color: #fff;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: snackbarfadein 0.5s, snackbarfadeout 0.5s 2.5s;
    animation: snackbarfadein 0.5s, snackbarfadeout 0.5s 2.5s;
}

#snackbar.success {
    background-color: var(--bs-success);
}

#snackbar.error {
    background-color: var(--bs-danger);
}

@-webkit-keyframes snackbarfadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes snackbarfadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes snackbarfadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes snackbarfadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.table-content {
    position: relative;
}

#table-loading,
#loading-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .05);
    z-index: 9999;
}

#table-loading img,
#loading-page img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table-role {
    display: none;
    animation: table-role-animation 2s;
}

@keyframes table-role-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-card {
    background-color: rgba(13, 110, 253, 0.5);
}

.home-card__title {
    background-color: rgba(13, 110, 253, 1);
}

.border-right-solid-1:not(:last-child):after {
    content: "";
    position: absolute;
    top: 53%;
    right: 0;
    border-right: 1px solid rgba(0, 0, 0, 1);
    padding-left: 10px;
    transform: translateY(-50%);
    height: 15px;
}

.cbo-m-select__text {
    width: 100%;
    position: relative;
    text-align: left;
}

.cbo-m-select__text::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.cbo-m-select__primary {
    color: #333;
    border: 1px solid #ced4da;
    background-color: #fff;
    white-space: inherit;
}

.cbo-m-select__primary.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.cbo-m-select__primary.is-valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.cbo-m-select__dropdown-menu {
    display: none;
    min-width: 10rem;
    max-height: 10rem;
    border: 1px solid #ced4da;
    overflow: auto;
    box-shadow: 1px 1px #999;
    margin: 2px;
    position: relative;
    z-index: 9999;
}

.cbo-m-select__primary::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: transparent;
    height: 20px;
}

.cbo-m-select__dropdown-item {
    padding: 5px;
}

.cbo-m-select__dropdown-item:hover {
    background-color: #ced4da;
}

.cbo-m-select:hover .cbo-m-select__dropdown-menu {
    display: block;
}

.cbo-m-select__dropdown-item label,
.cbo-m-select__dropdown-item input {
    cursor: pointer;
}

.color-mutiple {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}