<style>
    a {
        font-family: 'Open Sans', sans-serif;
        border: none;
        width: 100%;
        cursor: pointer;
        height: 60px;
        text-align: center;
        line-height: 50px;
        font-size: 1.8rem;
        display: block;
    }

    h3 {
        color: #28a745;
        font-size: 2rem;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pay__content">
                <h3>Kích hoạt tài khoản thành công</h3>
                <a href="/">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>