<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>Giỏ hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2" id="clear-cart-all"style="display:block">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản phẩm của bạn
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tên sản phẩm</th>

                            <th>Giá</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="cart-list-prod">
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="checkout-left mt-3" id="checkout-cart">
            <div style="display: flex;justify-content: space-between;">
                <div class="checkout-right-basket " style="">
                    <a href="/payment">Đặt Hàng
                        <span class="far fa-hand-point-right"></span>
                    </a>
                </div>
                <div style=""><span>Tổng:</span><span id="sumTotal">123VNĐ</span></div>
            </div>
        </div>
    </div>
    <div class="container py-xl-4 py-lg-2" id="clear-cart-emty" style="display:none">
        <img src="/public/images/cart-mobile.png" alt="cart">
        <div>Không có sản phẩm nào trong giỏ hàng</div>
        <div> <a href="/"><button type="button" class="btn btn-outline-primary">Về trang chủ</button></a></div>
    </div>
</div>
<!-- //checkout page -->
