{{!-- Banner --}}
{{> banner}}
<!-- top Products -->
<div class="ads-grid">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            {{> menuright}}
            {{> phoneTop}}
        </div>
    </div>
</div>
<!-- //top products -->