
{{!-- Banner --}}
 {{> banner}}
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản
            <span>P</span>hẩm
            <span>M</span>ới</h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-center font-italic">Điện Thoại Nổi Bật</h3>
                        <div class="row">
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="/public/images/m1.jpg" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="/dtdd/samsung_j7" class="link-product-add-cart">Xem thông tin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="/dtdd/samsung_j7">Samsung Galaxy J7</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">2.000.000 <sup>đ</sup></span>
                                            <del>2.500.000</del><sup>đ</sup>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="img" value="m1.jpg" />
                                                    <input type="hidden" name="business" value="" />
                                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                    <input type="hidden" name="amount" value="2000000" />
                                                    <input type="hidden" name="discount_amount" value="0" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position: relative;left: 50%;transform: translateX(-8%);">
                            <div class="col mt-5" >
                                <button type="button" class="btn btn-outline-primary">Xem Thêm</button>
                            </div>
                        </div>
                    </div>
                    <!-- //first section -->
                    <!-- second section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-center font-italic">Tv & Audio</h3>
                        <div class="row">
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="/public/images/m1.jpg" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Xem thông tin</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="single.html">Samsung Galaxy J7</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">2.000.000 <sup>đ</sup></span>
                                            <del>2.500.000</del><sup>đ</sup>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="img" value="m1.jpg" />
                                                    <input type="hidden" name="business" value="" />
                                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                    <input type="hidden" name="amount" value="2000000" />
                                                    <input type="hidden" name="discount_amount" value="0" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="/public/images/m1.jpg" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Xem thông tin</a>
                                            </div>
                                        </div>
                                        <span class="product-del-top">50%</span>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="single.html">Samsung Galaxy J7</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">2.000.000 <sup>đ</sup></span>
                                            <del>2.500.000</del><sup>đ</sup>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="img" value="m1.jpg" />
                                                    <input type="hidden" name="business" value="" />
                                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                    <input type="hidden" name="amount" value="2000000" />
                                                    <input type="hidden" name="discount_amount" value="0" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="/public/images/m1.jpg" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Xem thông tin</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>
                                        <span class="product-del-top">50%</span>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="single.html">Samsung Galaxy J7</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">2.000.000 <sup>đ</sup></span>
                                            <del>2.500.000</del><sup>đ</sup>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="img" value="m1.jpg" />
                                                    <input type="hidden" name="business" value="" />
                                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                    <input type="hidden" name="amount" value="2000000" />
                                                    <input type="hidden" name="discount_amount" value="0" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position: relative;left: 50%;transform: translateX(-8%);">
                            <div class="col mt-5" >
                                <button type="button" class="btn btn-outline-primary">Xem Thêm</button>
                            </div>
                        </div>
                    </div>
                    <!-- //second section -->
                    <!-- third section -->
                    <div class="product-sec1 product-sec2 px-sm-5 px-3">
                        <div class="row">
                            <h3 class="col-md-4 effect-bg">black friday</h3>
                            <p class="w3l-nut-middle">Hoàn tiền 10 - 30%</p>
                            <div class="col-md-8 bg-right-nut">
                                <img src="/public/images/image1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- //third section -->
                    <!-- fourth section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
                        <h3 class="heading-tittle text-center font-italic">Large Appliances</h3>
                        <div class="row">
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="/public/images/m1.jpg" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Xem thông tin</a>
                                            </div>
                                        </div>
                                        <span class="product-del-top">50%</span>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="single.html">Samsung Galaxy J7</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">2.000.000 <sup>đ</sup></span>
                                            <del>2.500.000</del><sup>đ</sup>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="img" value="m1.jpg" />
                                                    <input type="hidden" name="business" value="" />
                                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                    <input type="hidden" name="amount" value="2000000" />
                                                    <input type="hidden" name="discount_amount" value="0" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //fourth section -->
                </div>
            </div>
            <!-- //product left -->

            {{> menuright}}
        </div>
    </div>
</div>
<!-- //top products -->
