<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-content-err">
                <div class="error404-img">
                    <img src="/public/images/assets/404.png" alt="Super Tiki" class="img-responsive">
                </div>
                <div class="error404-said">
                    <h1>Xin lỗi, trang bạn đang tìm kiếm <br class="hidden-xs">không tồn tại!</h1>
                </div>
            </div>
        </div>
    </div>
</div>