<style>
    body {
        padding: 0;
        margin: 0;
        background-color: rgba(8, 121, 201, 0.5);
    }
    .bg-error404 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<div class="bg-error404">
    <div class="error404-img">
        <img src="/public/images/assets/404.png" alt="Super Tiki" class="img-responsive">
    </div>
    <div class="error404-said">
        <h1>Xin lỗi, trang bạn đang tìm kiếm <br class="hidden-xs">không tồn tại!</h1>
    </div>
</div>