<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>Thanh toán</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="prod_content">
                <div class="prod_title mb-3">
                    <h3>Danh sách sản phẩm</h3>
                </div>
                <ul class="list-group" id="prod_list-item">
                    
                </ul>
            </div>
            <div class="payment_content mt-3">
                <div class="payment_title mb-3">
                    <h3>Hình thức thanh toán</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item--motiffi">
                        <input type="radio" id="radio-fake" name="howpayment" checked>
                        <label for="radio-fake">
                            <div class="payment__name">
                                <img src="/public/images/svg/icon-payment-method-cod.svg" alt="">
                                <span>Thanh toán tiền mặt khi nhận hàng</span>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="user__info-content" id="user__info-content">
                <div class="user__info-content-title">
                    <span>Địa chỉ giao hàng</span>
                    <a href="/sua" class="btn btn-outline-color">Sửa</a>
                </div>
                <hr/>
                <div class="user__info-content-name">
                    <h6></h6>
                </div>
                <div class="user__info-content-address">
                    <p></p>
                    <p class="mt-1">Điện thoại: <span></span></p>
                </div>
            </div>
            <div class="price__info-content mt-3">
                <div class="price__info-content-title">
                    <span>Đơn hàng</span>
                    <a href="/cart" class="btn btn-outline-color">Sửa</a>
                </div>
                <hr/>
                <div class="price__info-content-money">
                    <span class="price__info-content-money-title">Thành tiền:</span>
                    <span class="price__info-content-money-content"></span>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="button" id="payment-order" class="btn btn-danger">Đặt Mua</button>
            <p style="font-size: 0.9rem;">(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</p>
        </div>
    </div>
</div>