<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pay__content">
                <h1>Cảm ơn bạn đã mua sắm tại Electro Storte</h1>
                <p>Mã số đơn hàng của bạn:</p>
                <a href="/" class="btn btn-primary">1212121222</a>
            </div>
        </div>
    </div>
</div>