
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>Thông tin tài khoản</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<div class="container mt-4" >
    <div class="row">
        <div class="col-md-3 bg-cus-user">
            <div class="user-info">
                <img src="/public/images/customer/avatar.png" alt="Avatar customer">
                <div class="info-customer">
                    Tài khoản của
                    <strong>Nguyễn Văn Trọng</strong>
                </div>
            </div>
            <ul class="tabs nav flex-column">
                <li class="tab-item active">
                    <i class="tab-icon fas fa-user"></i>
                    Thông tin tài khoản
                </li>
                <li class="tab-item">
                    <i class="tab-icon fas fa-book"></i>
                    Quản lý đơn hàng
                </li>
                <li class="tab-item">
                    <i class="tab-icon fas fa-map-marker-alt"></i>
                    Sổ địa chỉ
                </li>
                <li class="line"></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane active">
                    <h2>Thông tin tài khoản</h2>
                    <form>
                        <div class="form-gp">
                            <label for="fulName" class="input-label">Họ và tên</label>
                            <input type="text" class="form-control" id="fulName" placeholder="Nhập họ tên...">
                        </div>
                        <div class="form-gp">
                            <label for="phoneNumber" class="input-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="Nhập số điện thoại...">
                        </div>
                        <div class="form-gp">
                            <label for="email" class="input-label">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-gp">
                            <label class="input-label">Giới tính</label>
                            <label class="gender-checked">
                                <input type="radio" name="gender" value="male">
                                <span class="label">Nam</span>
                            </label>
                            <label class="gender-checked">
                                <input type="radio" name="gender" value="female">
                                <span class="label">Nữ</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>