<!-- top Products -->
<div class="ads-grid">
    <div class="container py-xl-4 py-lg-2">
        <!-- //tittle heading -->
        <div class="row">
            {{> menuright}}
            {{> search}}
        </div>
    </div>
</div>
<!-- //top products -->