.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
#clear-cart-emty{
    width: 100%;
    text-align: center;
}
#clear-cart-emty div a button{
    margin-top: 10px;
    width: 100%;
}
.comment-second{
    padding-left: 30px;
}

/* Profile */
.bg-cus-user{
    background-color: rgba(8,121,201, 0.1);
    padding: 10px 0;
    border-radius: 5px; 
}
.user-info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}
.user-info img{
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}
.info-customer{
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}
.info-customer strong{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
}

.tabs {
    position: relative;
}
.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 13px;
    color: #0879c9;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #0879c9;
    transition: all 0.2s ease;
}
.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
  }
.tab-item:hover {
    opacity: 1;
    background-color: rgba(8,121,201, 0.05);
    border-color: rgba(8,121,201, 0.1);
}
.tab-item.active {
    opacity: 1;
    border-color: #0879c9;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
.form-gp{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}
.input-label{
    width: 110px;
    min-width: 110px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}
.gender-checked{
    display: flex;
    margin-right: 15px;
    
}
.gender-checked input{
    height:20px;
    width: 20px;
}
.gender-checked span{
    padding-left: 10px;
    padding-top: 2px;
    font-size: 16px;
}
.inner{
    min-height: 400px;
}
.inner table{
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}
.inner tr{
    border-bottom: 1px solid rgb(244, 244, 244);
}
.inner th{
    min-width: 130px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
.inner td{
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}
.inner td:nth-child(4){
    padding-left: 16px;
}
.new a{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.item{
    background-color: rgb(255, 255, 255);
    padding: 17px;
    border-radius: 4px;
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 19px;
}
.item .info .name{
    text-transform: uppercase;
    margin: 0px 0px 10px;
    color: #333;
}
.item .info .name > span{
    font-size: 12px;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    text-transform: none;
}
.item .info .name > span span{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
}
.item .info .address span, .item .info .phone span{
    color: rgb(120, 120, 120);
}
.form-gp select{
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    background: 0px center;
    border-radius: 4px;
    box-shadow: none;
}
.form-gp textarea{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}
.detele-address{
    font-size: 14px;
    color: rgb(255, 66, 78);
    border: 0px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: 0px;
}
.bg-content-err{  
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(8,121,201, 0.5);
}
.prod_content, .payment_content, .user__info-content, .price__info-content{
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.list-group-item{
    display: flex;
}
.prod_content-img{
    margin-right: 20px;
}
.prod_content-img img{
    max-width: 80px;
    max-height: 80px;
}
.prod_content-title{
    width: 100%;
}
.prod_content-sub{
    display: flex;
    justify-content: space-between;
}
.list-group-item--motiffi{
    border-color: #fff;
}
.list-group-item input{
    opacity: 1;
}
.list-group-item label{
    cursor: pointer;
}
.payment__name img{
    width: 32px;
    height: 32px;
    margin: 0 5px;
}
.user__info-content-title, .price__info-content-title, .price__info-content-money{
    font-size: .9rem;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}
.user__info-content-name{
    margin: 2px 0;
}
.user__info-content-name h6{
    font-weight: bold;
}
.user__info-content hr, .price__info-content hr{
    border-color: #000;
    margin: 9px 0;
}
.user__info-content-address p{
    font-size: 0.8rem;
    color: #000;
    font-weight: 500;
}
.btn-outline-color{
    border: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    height: 30px;
    outline-color: rgb(204, 204, 204);
    background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
    border-radius: 2px;
    color: rgb(51, 51, 51);
}
.user__info-content-address{
    text-align: justify;
}
.price__info-content-money-content{
    color: red;
}