/* common */

.nav-border-relative {
    position: relative;
}

.nav-border-right:not(:last-child):before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    transform: translateY(-50%);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
}

.spinner__content {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.spinner__content img {
    width: 100%;
    height: 100%;
}

#wapper {
    display: none;
    animation: wapperOpacity 2s ease-in-out;
}

@keyframes wapperOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

#clear-cart-emty {
    width: 100%;
    text-align: center;
}

#clear-cart-emty div a button {
    margin-top: 10px;
    width: 100%;
}

.comment-second {
    padding-left: 30px;
}


/* Profile */

.bg-cus-user {
    background-color: rgba(8, 121, 201, 0.1);
    padding: 10px 0;
    border-radius: 5px;
}

.user-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}

.user-info img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}

.info-customer {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}

.info-customer strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
}

.tabs {
    position: relative;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 13px;
    color: #0879c9;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #0879c9;
    transition: all 0.2s ease;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(8, 121, 201, 0.05);
    border-color: rgba(8, 121, 201, 0.1);
}

.tab-item.active {
    opacity: 1;
    border-color: #0879c9;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.form-gp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}

.input-label {
    width: 110px;
    min-width: 110px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.gender-checked {
    display: flex;
    margin-right: 15px;
}

.gender-checked input {
    height: 20px;
    width: 20px;
}

.gender-checked span {
    padding-left: 10px;
    padding-top: 2px;
    font-size: 16px;
}

.inner {
    min-height: 400px;
}

.inner table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.inner tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.inner th {
    min-width: 130px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.inner td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

.inner td:nth-child(4) {
    padding-left: 16px;
}

.new a {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.item {
    background-color: rgb(255, 255, 255);
    padding: 17px;
    border-radius: 4px;
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 19px;
}

.item .info .name {
    text-transform: uppercase;
    margin: 0px 0px 10px;
    color: #333;
}

.item .info .name>span {
    font-size: 12px;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    text-transform: none;
}

.item .info .name>span span {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
}

.item .info .address span,
.item .info .phone span {
    color: rgb(120, 120, 120);
}

.form-gp select {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    background: 0px center;
    border-radius: 4px;
    box-shadow: none;
}

.form-gp textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.detele-address {
    font-size: 14px;
    color: rgb(255, 66, 78);
    border: 0px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: 0px;
}

.bg-content-err {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(8, 121, 201, 0.5);
}

.prod_content,
.payment_content,
.user__info-content,
.price__info-content {
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.list-group-item {
    display: flex;
}

.prod_content-img {
    margin-right: 20px;
}

.prod_content-img img {
    max-width: 80px;
    max-height: 80px;
}

.prod_content-title {
    width: 100%;
}

.prod_content-sub {
    display: flex;
    justify-content: space-between;
}

.list-group-item--motiffi {
    border-color: #fff;
}

.list-group-item input {
    transform: scale(1.5);
    margin: auto 0px;
}

.list-group-item label {
    margin-left: 10px;
    cursor: pointer;
}

.payment__name img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.user__info-content-title,
.price__info-content-title,
.price__info-content-money {
    font-size: .9rem;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

.user__info-content-name {
    margin: 2px 0;
}

.user__info-content-name h6 {
    font-weight: bold;
}

.user__info-content hr,
.price__info-content hr {
    border-color: #000;
    margin: 9px 0;
}

.user__info-content-address p {
    font-size: 0.8rem;
    color: #000;
    font-weight: 500;
}

.btn-outline-color {
    border: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    height: 30px;
    outline-color: rgb(204, 204, 204);
    background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
    border-radius: 2px;
    color: rgb(51, 51, 51);
}

.user__info-content-address {
    text-align: justify;
}

.price__info-content-money-content {
    color: red;
    font-weight: 700;
}

.pay__content {
    text-align: center;
    padding-top: 10px;
}

.pay__content h3 {
    color: var(--success);
}

.pay__content a {
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
}

#nav-header-bottom {
    position: relative;
    z-index: 10;
}

.group-show {
    position: absolute;
    width: 200px;
    top: calc(100% + 5px);
}

.group-show::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 10px;
    border: 10px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
}

.group-show .list-group-item {
    position: relative;
    padding: 0;
    cursor: pointer;
}

.group-show .list-group-item a {
    position: relative;
    width: 100%;
    z-index: 10;
}

.group-show .list-group-item:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.125);
}

.inner-men-cart-pro .link-product-add-cart {
    width: 85%;
    top: 0;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translateX(-50%);
    bottom: 81px;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro {
    height: 85%;
}

span.item_price {
    font-size: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3%;
}

.carousel-control-prev i,
.carousel-control-next i {
    transform: scale(1.5);
    background-color: #333;
    line-height: 3;
    width: 20px;
    position: absolute;
    border-radius: 10px;
}


/* navigation */

.bd-right:not(:last-child) {
    border-right: 1px solid #dee2e6 !important;
}

.cursor-pointer {
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 10px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: snackbarfadein 0.5s, snackbarfadeout 0.5s 3.7s;
    animation: snackbarfadein 0.5s, snackbarfadeout 0.5s 3.7s;
}

#snackbar.success {
    background-color: #28a745;
}

#snackbar.error {
    background-color: #dc3545;
}

#snackbar.warning {
    background-color: #ffc107;
}

@-webkit-keyframes snackbarfadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes snackbarfadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes snackbarfadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes snackbarfadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#raiting-view .side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

#raiting-view .middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


/* Place text to the right */

#raiting-view {
    margin: 0;
    border: 1px solid #dee2e6;
    padding: 10px;
}

#raiting-view .right {
    text-align: right;
}

#raiting-view .checked {
    color: orange;
}

#raiting-view .fa {
    font-size: 25px;
}

#raiting-view .row {
    margin: 0;
}

#raiting-view .row:after {
    content: "";
    display: table;
    clear: both;
}


/* The bar container */

#raiting-view .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

#raiting-view .bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

#raiting-view .bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

#raiting-view .bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

#raiting-view .bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

#raiting-view .bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

@media (max-width: 400px) {
    .side,
    .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

#raiting-view .write-content {
    border: 1px solid #dee2e6;
    margin-top: 10px;
}

#raiting-content {
    margin-top: 10xp;
}

.comment-item__name {
    font-weight: bold;
    color: #333;
}

#raiting-content .item-rate .fa {
    font-size: 12px;
}

#raiting-content .item-click {
    display: flex;
}

#raiting-content .comment-content {
    width: 100%;
}

#raiting-content .comment-content img {
    margin-top: 10px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

#noidung-danhgia .gallery {
    display: flex;
    background-color: #dee2e6;
    border-radius: 5px;
}

#noidung-danhgia .gallery img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid;
    margin: 10px;
    border-radius: 5px;
}

.textarea-bottom label svg {
    transform: scale(1.5);
}

.textarea-bottom label span {
    padding-left: 10px;
    padding-right: 10px;
}

.textarea-bottom label {
    color: #2f80ed;
    cursor: pointer;
}

#noidung-danhgia {
    margin-top: 10px;
}

#noidung-danhgia .textarea textarea {
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-color: #dee2e6;
    padding-left: 10px;
    outline: none;
    padding-bottom: 0;
    border: none;
    height: 67px;
}

#noidung-danhgia .textarea {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

#noidung-danhgia .textarea .textarea-bottom {
    border-top: 1px solid #bdbdbd;
    padding: 11px 10px;
}

.danhgia-submit {
    display: flex;
    justify-content: flex-end;
}

.m-top-10 {
    margin-top: 10px;
}

.star {
    margin: 10px 0;
}

.star span.fa {
    color: #dee2e6;
    cursor: pointer;
}

.form-raiting .item-rate {
    display: flex;
}

.form-raiting .title-raiting {
    display: flex;
    justify-content: space-between;
}

.btn-view-more {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.view-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-inline-block {
    display: inline-block;
    width: 125px;
}

#noidung-danhgia {
    padding: 10px 5px;
}

.search-content {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: calc(100% - 140px);
}

.search-item {
    border: 1px solid #dee2e6;
    padding: 5px;
}

.item-img img {
    width: 60px;
    height: 60px;
}

.search-item a,
.item-content__price {
    display: flex;
}

.search-item a {
    border: 1px solid;
    border-color: transparent;
    padding: 5px;
}

.search-item a:hover {
    border-color: #333;
}

.item-content {
    padding-left: 15px;
}

.item-content__name {
    color: #000;
}

.item-content__price-main .item_price {
    font-weight: bold;
}

.item-content__price-sale {
    padding-left: 20px;
    font-size: 90%;
}