<!-- modals -->
<!-- cancel -->
<div class="modal fade" id="modal-cancel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Hủy đơn hàng<h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="form-cancel-order">
                    <div class="text-sm-center text-danger">Vui lòng chọn xác nhận để thực hiện hủy đơn hàng</div>
                    <input type="text" name="id" value="" hidden="true">
                    <div style="display: flex;justify-content: flex-end;padding-top: 20px;">
                        <button type="submit" class="btn btn-danger" style="margin-right: 10px;">Xác nhận</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                            Hủy
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>