<!-- copyright -->
<div class="copy-right py-3">
    <div class="container">
        <p class="text-center text-white">© 2021 Nguyễn Văn Trọng - 0306181187
        </p>
    </div>
</div>
<!-- //copyright -->