<!-- copyright -->
<div class="copy-right py-3">
    <div class="container">
        <p class="text-center text-white">©coppyright by Nguyễn Văn Trọng
        </p>
    </div>
</div>
<!-- //copyright -->