<!-- top-header -->
<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-4 header-most-top">
                <p class="text-white text-lg-left text-center">Ưu đãi và giảm giá hàng đầu
                    <i class="fas fa-shopping-cart ml-1"></i>
                </p>
            </div>
            <div class="col-lg-8 header-right mt-lg-0 mt-2">
                <!-- header lists -->
                <ul>
                    <li class="text-center border-right text-white"></li>
                    <li class="text-center border-right text-white">
                        <a href="/" onclick="return false;" class="text-white">
                            <i class="fas fa-truck mr-2"></i>Giao hàng nhanh</a>
                    </li>
                    <li class="text-center border-right text-white">
                        <i class="fas fa-phone mr-2"></i> +066 888 8888
                    </li>
                    <li class="text-center border-right text-white" id="name-user-login">
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
                            <i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập </a>
                    </li>
                    <li class="text-center text-white" id="name-user-logout">
                        <a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
                            <i class="fas fa-sign-out-alt mr-2"></i>Đăng kí </a>
                    </li>
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>


{{> login}}
{{> register}}
{{> forgot}}
<!-- header-bottom-->
<div class="header-bot">
    <div class="container">
        <div class="row header-bot_inner_wthreeinfo_header_mid">
            <!-- logo -->
            <div class="col-md-3 logo_agile">
                <h1 class="text-center">
                    <a href="/" class="font-weight-bold font-italic">
                        <img src="/public/images/logo2.png" alt=" " class="img-fluid">Ephone Store
                    </a>
                </h1>
            </div>
            <!-- //logo -->
            <!-- header-bot -->
            <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                <div class="row">
                    <!-- search -->
                    <div class="col-10 agileits_search">
                        <form class="form-inline" action="#" method="post">
                            <input class="form-control" type="search" placeholder="Tìm kiếm..." aria-label="Search"
                                required>
                            <button class="btn my-2 my-sm-0" type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                    <!-- //search -->
                    <!-- cart details -->
                    <div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
                        <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                            <form action="#" method="post" class="last" id="last-cart-prod">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="display" value="1">
                                <button class="btn w3view-cart" type="submit" name="submit" value="">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- //cart details -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop locator (popup) -->
<!-- //header-bottom -->
<!-- navigation -->
<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-2 text-center mr-xl-5">
                    <li class="nav-item bd-right active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/">Trang chủ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item bd-right dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Thiết bị điện tử
                        </a>
                        <div class="dropdown-menu mt-0">
                            <div class="agile_inner_drop_nav_info p-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="mb-3">Điện thoại</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="mb-3">Máy tính</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img bd-right">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Tất cả điện thoại</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Tất cả phụ kiện</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Tablets</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Laptops</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Phần mềm</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item bd-right dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Phụ kiện
                        </a>
                        <div class="dropdown-menu mt-0">
                            <div class="agile_inner_drop_nav_info p-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="mb-3">Điện thoại</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="mb-3">Máy tính</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img bd-right">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Pin sạc dự phòng</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Chuột máy tính</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item bd-right mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="about.html">Hỏi đáp</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //navigation -->