<!-- product right -->
<div class="d-none d-lg-block col-lg-3   mt-lg-0 mt-4 p-lg-0">
    <div class="side-bar p-sm-4 p-3">
        <div class="search-hotel border-bottom py-2">
            <h3 class="agileits-sear-head mb-3">Search Here..</h3>
            <form action="#" method="post">
                <input type="search" placeholder="Product name..." name="search" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <!-- price -->
        <div class="range border-bottom py-2">
            <h3 class="agileits-sear-head mb-3">Chọn mức giá</h3>
            <div class="w3l-range">
                <ul>
                    <li>
                        <a href="#">Dưới 2 triệu</a>
                    </li>
                    <li class="my-1">
                        <a href="#">Từ 2 - 4 triệu</a>
                    </li>
                    <li>
                        <a href="#">Từ 4 - 7 triệu</a>
                    </li>
                    <li class="my-1">
                        <a href="#">Từ 7 - 13 triệu</a>
                    </li>
                    <li>
                        <a href="#">Từ 13 - 20 triệu</a>
                    </li>
                    <li class="mt-1">
                        <a href="#">Trên 20 triệu</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //price -->
        <!-- discounts -->
        <div class="left-side border-bottom py-2">
            <h3 class="agileits-sear-head mb-3">Chọn mức giảm giá</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">dưới 5%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Từ 10 - 20%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Từ 20 - 30%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Từ 30 - 50%</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Lớn hơn 50%</span>
                </li>
            </ul>
        </div>
        <!-- //discounts -->
        <!-- best seller -->
        <div class="f-grid py-2">
            <h3 class="agileits-sear-head mb-3">Sản Phẩm Bán Chạy</h3>
            <div class="box-scroll">
                <div class="scroll">
                    <div class="row">
                        <div class="col-lg-3 col-sm-2 col-3 left-mar">
                            <img src="/public/images/k1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                            <a onclick="location.href='/dien_thoai/iphone_12_pro_max_512gb';" href="#">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                            <a onclick="location.href='/dien_thoai/iphone_12_pro_max_512gb';" href="#" class="price-mar mt-2">2.000.000 <sup>đ</sup></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //best seller -->
    </div>
    <!-- //product right -->
</div>