<h2>Chi tiết đơn hàng #<span class="id-order">923385424</span> - <span class="status-order"></span></h2>
<div class="row pt-2">
  <div class="col-md-6">
    <div>ĐỊA CHỈ NGƯỜI NHẬN</div>
    <div class="content-info-order" style="padding: 15px;">
      <div
        class="font-weight-bold text-uppercase user-name"
        style="font-size: 15px"
      ></div>
      <div>
        <span style="font-size: 90%;">Địa chỉ: </span>
        <span class="user-address" style="font-size: 90%;"></span>
      </div>
      <div>
        <span style="font-size: 90%;">Điện thoại: </span>
        <span class="user-phone" style="font-size: 90%;"></span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div>HÌNH THỨC THANH TOÁN</div>
    <div class="content-info-order" style="padding: 15px;">
      <div style="font-size: 90%;">Thanh toán tiền mặt khi nhận hàng</div>
    </div>
  </div>
</div>
<div class="inner" style="min-height: inherit;">
  <table>
    <thead>
      <tr>
        <th class="text-center">Sản phẩm</th>
        <th class="text-center">Giá(vnđ)</th>
        <th class="text-center">Số lượng</th>
        <th class="text-center">Giảm(%)</th>
        <th class="text-center">Tạm tính</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div style="display: flex;justify-content: flex-end;">
  <div style="padding: 10px;">
    <span style="font-size: 90%;">Thành tiền: </span>
    <span class="total-price" style="font-size: 90%;color: red;"></span>
  </div>
</div>