<div class="col-lg-9">
    <div class="wrapper" id="content-products">
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            <h3 class="heading-tittle text-center font-italic">Sản phẩm lọc</h3>
            <div class="row m-1">
                {{{ productSearch [] }}}
            </div>
            <nav id="page_navigation" aria-label="Page navigation"
                style="display: flex; justify-content: center; margin-top: 20px;">
            </nav>
        </div>
    </div>
</div>