<div class="col-lg-9">
    <div class="wrapper" id="content-products">
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            {{#if products}}
            <h3 class="heading-tittle text-center font-italic">Tìm kiếm sản phẩm</h3>
            <div class="row m-1" id="viewed-products">
                {{{ productSearch products }}}
            </div>
            {{{viewMoreBtn products totalProduct}}}
            {{else}}
            <div>Rất tiếc, Ephone Store không tìm thấy kết quả nào phù hợp với từ khóa</div>
            {{/if}}
        </div>
    </div>
</div>